// 定义字体大小
$f14        :.14rem;
$f16        :.16rem;
$f18        :.18rem;
$f20        :.20rem;
$f22        :.22rem;
$f24        :.24rem;
$f26        :.26rem;
$f28        :.28rem;
$f30        :.30rem;
$f32        :.32rem;
$f34        :.34rem;
$f36        :.36rem;
$f38        :.38rem;
$f40        :.40rem;
$f44        :.44rem;
$f56        :.56rem;

// 定义字体颜色
$fc01       :#f0f0f0;
$fc02       :#8c8c8c;
$fc03       :#909090;
$fc04       :#474747;
$fc05       :#1c1c1c;
$fc06       :#000000;
$fc07       :#5571f5;
$fc08       :#ffffff;
$fc09       :#666666;
$fc10       :#c3c3c3;
$fc11       :#3e5ef4;
$fc12       :#95a6f5;
$fc13       :#ff7300;
$fc14       :#e5e5e5;
// 定义背景色
$bg01       :#f5f5f5;
$bg02       :#fefefe;
$bg03       :#f9f9f9;
$bg04       :#ffffff;
//定义下划线颜色
$border01   :#f0f0f0;
$border02   :#f7f7f7;
//底部导航图标字体颜色
$navColor    :#c5c5c5;
$navActiveColor:#000000;


@mixin ellipsis($w:auto) {
    width: $w;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
/*多行文本溢出*/
@mixin ellipsisLn($line) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}